src/net/meisen/dissertation/config/xsd/tidaModel.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns="http://dev.meisen.net/xsd/dissertation/model" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:types="http://dev.meisen.net/xsd/dissertation/types"
           
           targetNamespace="http://dev.meisen.net/xsd/dissertation/model" attributeFormDefault="unqualified" elementFormDefault="qualified">

  <xs:import namespace="http://dev.meisen.net/xsd/dissertation/types" schemaLocation="http://dev.meisen.net/xsd/dissertation/tidaTypes.xsd" />

  <xs:element name="model">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="config" minOccurs="0">
          <xs:complexType>
          
            <xs:sequence>
              <xs:element name="caches" minOccurs="0">
                <xs:complexType>
                
                  <xs:sequence>
                    <xs:element name="identifier" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>

                        <xs:attribute name="implementation" type="types:javaClass" use="required" />
                      </xs:complexType>
                    </xs:element>
                  
                    <xs:element name="metadata" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>

                        <xs:attribute name="implementation" type="types:javaClass" use="required" />
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="bitmap" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>

                        <xs:attribute name="implementation" type="types:javaClass" use="required" />
                      </xs:complexType>
                    </xs:element>
                    
                    <xs:element name="factsets" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>

                        <xs:attribute name="implementation" type="types:javaClass" use="required" />
                      </xs:complexType>
                    </xs:element>
                    
                    <xs:element name="records" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>

                        <xs:attribute name="implementation" type="types:javaClass" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            
              <xs:element name="factories" minOccurs="0">
                <xs:complexType>

                  <xs:sequence>
                    <xs:element name="indexes" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                        
                        <xs:attribute name="implementation" type="types:javaClass" use="required" />
                      </xs:complexType>
                    </xs:element>
                    
                    <xs:element name="mappers" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                        
                        <xs:attribute name="implementation" type="types:javaClass" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="preprocessor" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="1" />
                  </xs:sequence>

                  <xs:attribute name="implementation" type="types:javaClass" use="required" />
                </xs:complexType>
              </xs:element>

              <xs:element name="dataretrievers" minOccurs="0">
                <xs:complexType>

                  <xs:sequence>
                    <xs:element name="dataretriever" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>

                        <xs:attribute name="id" type="types:identifier" use="required" />
                        <xs:attribute name="implementation" type="types:javaClass" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="time" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
            
              <xs:element name="timeline" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="start" type="types:dateOrNumber" use="optional" />
                  <xs:attribute name="end" type="types:dateOrNumber" use="optional" />
                  <xs:attribute name="duration" type="xs:positiveInteger" use="optional" />
                  <xs:attribute name="granularity" type="types:nonEmptyStringWithoutWhitespaces" use="optional" />
                  <xs:attribute name="durationgranularity" type="types:nonEmptyStringWithoutWhitespaces" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="meta" minOccurs="0">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="descriptors" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="entries">
                <xs:complexType>

                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>

                        <xs:attribute name="descriptor" type="types:identifier" use="required" />
                        <xs:attribute name="value" type="xs:string" use="optional" />
                        <xs:attribute name="dataretriever" type="types:identifier" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <!-- allow the dimensions here -->
        <xs:any namespace="http://dev.meisen.net/xsd/dissertation/dimension" processContents="strict" minOccurs="0" maxOccurs="1" />
        
        <xs:element name="structure" minOccurs="0">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="meta" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="structurelement">
                      <xs:attribute name="descriptor" type="types:identifier" use="required" />
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>

              <xs:element name="interval" minOccurs="0" maxOccurs="2">
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="structurelement">
                      <xs:attribute name="type" type="types:identifier" use="required" />
                      <xs:attribute name="inclusive" type="xs:boolean" use="optional" />
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dataset" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:choice>
                    <xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="1" />
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="type" type="types:nonEmptyStringWithoutWhitespaces" use="optional" />
                        <xs:attribute name="class" type="types:javaClass" use="optional" />
                        <xs:attribute name="value" type="xs:string" use="optional" />
                        <xs:attribute name="name" type="types:nonEmptyStringWithoutWhitespaces" use="optional" />
                        <xs:attribute name="position" type="xs:positiveInteger" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>

                  <xs:attribute name="dataretriever" type="types:identifier" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            
            <xs:attribute name="metahandling" type="xs:string" use="optional" />
            <xs:attribute name="intervalhandling" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>

      <xs:attribute name="id" type="types:identifier" use="optional" />
      <xs:attribute name="name" type="xs:string" use="optional" />
      <xs:attribute name="folder" type="xs:string" use="optional" />
      <xs:attribute name="offlinemode" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:complexType name="descriptor">
    <xs:attribute name="id" type="types:identifier" use="required" />
    <xs:attribute name="null" type="xs:boolean" use="optional" />
    <xs:attribute name="failonduplicates" type="xs:boolean" use="optional" />
    <xs:attribute name="name" type="xs:string" use="optional" />
    <xs:attribute name="idfactory" type="types:javaClass" use="optional" />
  </xs:complexType>
  
  <xs:complexType name="structurelement">
    <xs:attribute name="name" type="types:nonEmptyStringWithoutWhitespaces" use="optional" />
    <xs:attribute name="position" type="xs:positiveInteger" use="optional" />
  </xs:complexType>
  
  <xs:element name="object" type="descriptor" />
  <xs:element name="string" type="descriptor" />
  <xs:element name="double" type="descriptor" />
  <xs:element name="long" type="descriptor" />
  <xs:element name="integer" type="descriptor" />
  <xs:element name="resource" type="descriptor" />
</xs:schema>